.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Docker
postgres_data/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.cursorignore

# Coverage
htmlcov/
.coverage
.coverage.*
*.cover

# Pytest
.pytest_cache/